<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <script type="text/javascript" src="/firebase-init.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/keen.js"></script>
  </head>
  <div id="app" v-on:load="randomizeMeal()" v-cloak>
    <div class="lucky">
      <button class="orange-flat-button" v-on:click="randomizeMeal()">Change it up</button>
    </div>
    <div class="lucky">
      <button class="peter-river-flat-button" v-on:click="showRecipe()">Gimme the Recipe</button>
    </div>
    <div class="recipes" v-if="isShowingRecipe">
      <div class="recipe">
        <div v-for="ingredient in ingredients">
          <h1>{{ ingredient.name }}</h1>
          <iframe width="560" height="315" v-bind:src="ingredient.recipeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="ingredients" v-if="isShowingIngredients">
      <div class="ingredient grain">
        <div class="background">
          <img v-bind:src="grain.image" />
          <span class="category">Grain</span>
        </div>
        <div class="name">{{ grain.name }}</div>
      </div>
      <div class="ingredient veggie veggie-1">
        <div class="background">
          <img v-bind:src="veggie1.image" />
          <span class="category">Veggie #1</span>
        </div>
        <div class="name">{{ veggie1.name }}</div>
      </div>
      <div class="ingredient veggie veggie-2">
        <div class="background">
          <img v-bind:src="veggie2.image" />
          <span class="category">Veggie #2</span>
        </div>
        <div class="name">{{ veggie2.name }}</div>
      </div>
      <div class="ingredient">
        <div class="background">
          <img v-bind:src="sauce.image" />
          <span class="category">Sauce</span>
        </div>
        <div class="name">{{ sauce.name }}</div>
      </div>
      <div class="ingredient">
        <div class="background">
          <img v-bind:src="bean.image" />
          <span class="category">Bean</span>
        </div>
        <div class="name">{{ bean.name }}</div>
      </div>
    </div>
  </div>
</html>