html { font-family: sans-serif; }
.ingredient {
  width: 100%; border-bottom: 1px solid #ccc; padding: 1rem 0;
  max-height: 25%;
  text-align: center;
  font-family: sans-serif;
}
.ingredient .background { font-size: 5rem; position: absolute; text-transform: uppercase; }
.ingredient .background .category { opacity: .1; }
.ingredient .background img { max-height: 5rem; overflow: hidden; width: 5rem; z-index: 5; opacity: 1; margin: 0 auto; }
.ingredient .name { font-size: 5rem; text-align: right; text-transform: lowercase; z-index: 10; position: relative }

div.lucky { width: 100%; }
button.lucky { margin: 0 auto; display: block; height: 3rem; background: pink; border: none; color: #ccc; }

/* #Peter River Flat Button
==================================================*/
.peter-river-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.peter-river-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Orange Flat Button
==================================================*/
.orange-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.orange-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}